.footer {
  background-color: rgba(21, 21, 21, 1);
  color: #555;
  padding: 30px 30px 10px;

  z-index: 2;
}

.footer-collumn {
  padding: 0 100px !important;
  border-right: 1px solid rgb(127, 132, 133);
}

.title {
  text-align: end;
  text-decoration: underline;

  margin-bottom: 35px;
}

.footer-list {
  list-style: none;
}

.small-title {
  text-align: end;
}

.footer-list li {
  text-align: end;
}

input,
textarea {
  text-align: right;
}

@media (max-width: 768px) {
  .footer-collumn {
    padding: 0 50px !important;
    border-right: none;
  }

  .title {
    text-align: end;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .map {
    margin-left: -15vw;
  }
}
